osb_tst5/repo/SCMSproject/netflix/SCMS/GET/PAI/BY/SMC/PS_REST_SCMS_GET_PAI_BY_SMC/wsdl/SCMSproject_netflix_SCMS_GET_PAI_BY_SMC_proxy_PS_REST_SCMS_GET_PAI_BY_SMC.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="PS_REST_SCMS_GET_PAI_BY_SMC"
     targetNamespace="http://xmlns.oracle.com/OSB_SVIL/SCMSproject/PS_REST_SCMS_GET_PAI_BY_SMC"
     xmlns:tns="http://xmlns.oracle.com/OSB_SVIL/SCMSproject/PS_REST_SCMS_GET_PAI_BY_SMC"
     xmlns:inp1="http://www.skytv.it/mdw/data"
     xmlns:inp2="http://www.skytv.it/mdw/data"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    >
    <plnk:partnerLinkType name="PS_REST_SCMS_GET_PAI_BY_SMC">
        <plnk:role name="PS_REST_SCMS_GET_PAI_BY_SMCProvider" portType="tns:PS_REST_SCMS_GET_PAI_BY_SMC_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/SCMSproject/netflix/Rest_GetPaiBySMC/xsd/XSD_SCMS_NETFLIX_GET_PAI_SMC.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="Rest_EmptyMessage"/>
    <wsdl:message name="Op_getPaiBySmc_outputMessage">
        <wsdl:part name="reply" element="inp1:responseGetPaiBySmc"/>
    </wsdl:message>
    <wsdl:message name="Op_getPaiBySmc_ServiceUnavailableMessage">
        <wsdl:part name="fault_ServiceUnavailable" element="inp1:error503"/>
    </wsdl:message>
    <wsdl:message name="Op_getPaiBySmc_NoESNMappingFoundMessage">
        <wsdl:part name="fault_NoESNMappingFound" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="Op_getPaiBySmc_AllCapabilitesRefusedMessage">
        <wsdl:part name="fault_AllCapabilitesRefused" element="inp1:error403"/>
    </wsdl:message>
    <wsdl:message name="Op_getPaiBySmc_MissingNetflixESN_MissingNetflixPDIMessage">
        <wsdl:part name="fault_MissingNetflixESN_MissingNetflixPDI" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="Op_getPaiBySmc_ServerErrorMessage">
        <wsdl:part name="fault_ServerError" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="Op_getPaiBySmc_BadAuthorizationMessage">
        <wsdl:part name="fault_BadAuthorization" element="inp1:error401"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_SCMS_GET_PAI_BY_SMC_ptt">
        <wsdl:operation name="Op_getPaiBySmc">
            <wsdl:input message="tns:Rest_EmptyMessage"/>
            <wsdl:output message="tns:Op_getPaiBySmc_outputMessage"/>
            <wsdl:fault name="ServiceUnavailable" message="tns:Op_getPaiBySmc_ServiceUnavailableMessage"/>
            <wsdl:fault name="NoESNMappingFound" message="tns:Op_getPaiBySmc_NoESNMappingFoundMessage"/>
            <wsdl:fault name="AllCapabilitesRefused" message="tns:Op_getPaiBySmc_AllCapabilitesRefusedMessage"/>
            <wsdl:fault name="MissingNetflixESN_MissingNetflixPDI" message="tns:Op_getPaiBySmc_MissingNetflixESN_MissingNetflixPDIMessage"/>
            <wsdl:fault name="ServerError" message="tns:Op_getPaiBySmc_ServerErrorMessage"/>
            <wsdl:fault name="BadAuthorization" message="tns:Op_getPaiBySmc_BadAuthorizationMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_SCMS_GET_PAI_BY_SMC_ptt-binding" type="tns:PS_REST_SCMS_GET_PAI_BY_SMC_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Op_getPaiBySmc">
            <soap:operation soapAction="Op_getPaiBySmc"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>