esb_tst5/repo/WS_SBL_MV_GENERA_CODICI_CONTROLLO/wsdl/WS_SBL_MV_GENERA_CODICI_CONTROLLO.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:import namespace="http://scryptex.technology.skytv.it/scr" schemaLocation="ScryptexService.xsd" /> 
   <xsd:complexType name="crypt" xmlns:sc="http://scryptex.technology.skytv.it/scr"> 
    <xsd:complexContent> 
     <xsd:extension base="sc:crypt" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="cryptResponse" xmlns:sc="http://scryptex.technology.skytv.it/scr"> 
    <xsd:complexContent> 
     <xsd:extension base="sc:cryptResponse" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opCrypt"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="InputMessage" type="eb:crypt" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opCryptResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="OutputMessage" type="eb:cryptResponse" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opCryptRequest"> 
  <wsdl:part element="eb:opCrypt" name="parameters"></wsdl:part> 
 </wsdl:message> 
 <wsdl:message name="opCryptResponse"> 
  <wsdl:part element="eb:opCryptResponse" name="parameters"></wsdl:part> 
 </wsdl:message> 
 <wsdl:portType name="WS_SBL_MV_GENERA_CODICI_CONTROLLOSoap"> 
  <wsdl:operation name="opCrypt"> 
   <wsdl:input message="eb:opCryptRequest" name="opCryptRequest"></wsdl:input> 
   <wsdl:output message="eb:opCryptResponse" name="opCryptResponse"></wsdl:output> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SBL_MV_GENERA_CODICI_CONTROLLOSoap" type="eb:WS_SBL_MV_GENERA_CODICI_CONTROLLOSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opCrypt"> 
   <soap:operation soapAction="WS_SBL_MV_GENERA_CODICI_CONTROLLO/opCrypt" style="document" /> 
   <wsdl:input name="opCryptRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opCryptResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SBL_MV_GENERA_CODICI_CONTROLLO"> 
  <wsdl:port binding="eb:WS_SBL_MV_GENERA_CODICI_CONTROLLOSoap" name="WS_SBL_MV_GENERA_CODICI_CONTROLLOSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_SBL_MV_GENERA_CODICI_CONTROLLO" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>