esb_tst5/repo/WS_SBL_KBP_UPDATE_CAND_HOLD_STATUS/wsdl/WS_SBL_KBP_UPDATE_CAND_HOLD_STATUS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="opUpdateCandidatiHoldStatus"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="STATUS_FLAG_NEW" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="STATUS_FLAG_OLD" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opUpdateCandidatiHoldStatusResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="ESITO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="TID" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opUpdateCandidatiHoldStatusRequest"> 
  <wsdl:part element="eb:opUpdateCandidatiHoldStatus" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opUpdateCandidatiHoldStatusResponse"> 
  <wsdl:part element="eb:opUpdateCandidatiHoldStatusResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SBL_KBP_UPDATE_CAND_HOLD_STATUSSoap"> 
  <wsdl:operation name="opUpdateCandidatiHoldStatus"> 
   <wsdl:input message="eb:opUpdateCandidatiHoldStatusRequest" name="opUpdateCandidatiHoldStatusRequest" /> 
   <wsdl:output message="eb:opUpdateCandidatiHoldStatusResponse" name="opUpdateCandidatiHoldStatusResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SBL_KBP_UPDATE_CAND_HOLD_STATUSSoap" type="eb:WS_SBL_KBP_UPDATE_CAND_HOLD_STATUSSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opUpdateCandidatiHoldStatus"> 
   <soap:operation soapAction="WS_SBL_KBP_UPDATE_CAND_HOLD_STATUS/opUpdateCandidatiHoldStatus" style="document" /> 
   <wsdl:input name="opUpdateCandidatiHoldStatusRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opUpdateCandidatiHoldStatusResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SBL_KBP_UPDATE_CAND_HOLD_STATUS"> 
  <wsdl:port binding="eb:WS_SBL_KBP_UPDATE_CAND_HOLD_STATUSSoap" name="WS_SBL_KBP_UPDATE_CAND_HOLD_STATUSSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_SBL_KBP_UPDATE_CAND_HOLD_STATUS" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>