osb_tst5/repo/SalesforceProject/REST/WS/SF/PRODUCT/CODE/PS_REST_SF_PRODUCT_CODES/wsdl/SalesforceProject_REST_WS_SF_PRODUCT_CODE_proxy_PS_REST_SF_PRODUCT_CODES.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="PS_REST_SF_PRODUCT_CODES"
     targetNamespace="http://xmlns.oracle.com/OSB_SVIL/SalesforceProject/PS_REST_SF_PRODUCT_CODES"
     xmlns:tns="http://xmlns.oracle.com/OSB_SVIL/SalesforceProject/PS_REST_SF_PRODUCT_CODES"
     xmlns:inp1="http://www.skytv.it/mdw/data"
     xmlns:inp2="http://www.skytv.it/mdw/data"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    >
    <plnk:partnerLinkType name="PS_REST_SF_PRODUCT_CODES">
        <plnk:role name="PS_REST_SF_PRODUCT_CODESProvider" portType="tns:PS_REST_SF_PRODUCT_CODES_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/SalesforceProject/Rest_Product_Codes/xsd/XSD_SF_REST_PRODUCT_CODES.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="getRateCode_inputMessage">
        <wsdl:part name="request" element="inp1:requestProductCode"/>
    </wsdl:message>
    <wsdl:message name="getRateCode_outputMessage">
        <wsdl:part name="reply" element="inp1:responseProductCode"/>
    </wsdl:message>
    <wsdl:message name="getRateCode_fault-500Message">
        <wsdl:part name="fault_fault-500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="getRateCode_fault-404Message">
        <wsdl:part name="fault_fault-404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="getRateCode_fault-400Message">
        <wsdl:part name="fault_fault-400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_SF_PRODUCT_CODES_ptt">
        <wsdl:operation name="getRateCode">
            <wsdl:input message="tns:getRateCode_inputMessage"/>
            <wsdl:output message="tns:getRateCode_outputMessage"/>
            <wsdl:fault name="fault-500" message="tns:getRateCode_fault-500Message"/>
            <wsdl:fault name="fault-404" message="tns:getRateCode_fault-404Message"/>
            <wsdl:fault name="fault-400" message="tns:getRateCode_fault-400Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_SF_PRODUCT_CODES_ptt-binding" type="tns:PS_REST_SF_PRODUCT_CODES_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getRateCode">
            <soap:operation soapAction="getRateCode"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>