esb_tst5/repo/WS_SCMS_EXECUTE_LPREPO/wsdl/WS_SCMS_EXECUTE_LPREPO.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="requestLPREPO"> 
    <xsd:sequence> 
     <xsd:element name="flagsync" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="clientid" type="xsd:string" /> 
     <xsd:element name="proximity_report" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="operator" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="execdate" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="priority" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="funcname" type="xsd:string" /> 
     <xsd:element name="typesrvreq" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="responseLPREPO"> 
    <xsd:sequence> 
     <xsd:element name="result" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="descriptionerr" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="ndserr" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="transid" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opLPREPO"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="requestLPREPO" type="eb:requestLPREPO" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opLPREPOResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="responseLPREPO" type="eb:responseLPREPO" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opLPREPORequest"> 
  <wsdl:part element="eb:opLPREPO" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opLPREPOResponse"> 
  <wsdl:part element="eb:opLPREPOResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SCMS_EXECUTE_LPREPOSoap"> 
  <wsdl:operation name="opLPREPO"> 
   <wsdl:input message="eb:opLPREPORequest" name="opLPREPORequest" /> 
   <wsdl:output message="eb:opLPREPOResponse" name="opLPREPOResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SCMS_EXECUTE_LPREPOSoap" type="eb:WS_SCMS_EXECUTE_LPREPOSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opLPREPO"> 
   <soap:operation soapAction="WS_SCMS_EXECUTE_LPREPO/opLPREPO" style="document" /> 
   <wsdl:input name="opLPREPORequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opLPREPOResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SCMS_EXECUTE_LPREPO"> 
  <wsdl:port binding="eb:WS_SCMS_EXECUTE_LPREPOSoap" name="WS_SCMS_EXECUTE_LPREPOSoap"> 
   <soap:address location="http://wssvil.sky.it:19100/wsexistbus/ws_scms/WS_SCMS_EXECUTE_LPREPO" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>