esb_tst5/repo/WS_SCMS_DELETE_USERS/wsdl/WS_SCMS_DELETE_USERS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="opDeleteUsers"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_CA_OPERATORE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_CA_CLIENT_API" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opDeleteUsersResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_SRVZ_RET_CODE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_SRVZ_DESCRIZ_ESITO" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opDeleteUsersRequest"> 
  <wsdl:part element="eb:opDeleteUsers" name="parameters"></wsdl:part> 
 </wsdl:message> 
 <wsdl:message name="opDeleteUsersResponse"> 
  <wsdl:part element="eb:opDeleteUsersResponse" name="parameters"></wsdl:part> 
 </wsdl:message> 
 <wsdl:portType name="WS_SCMS_DELETE_USERSSoap"> 
  <wsdl:operation name="opDeleteUsers"> 
   <wsdl:input message="eb:opDeleteUsersRequest" name="opDeleteUsersRequest"></wsdl:input> 
   <wsdl:output message="eb:opDeleteUsersResponse" name="opDeleteUsersResponse"></wsdl:output> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SCMS_DELETE_USERSSoap" type="eb:WS_SCMS_DELETE_USERSSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opDeleteUsers"> 
   <soap:operation soapAction="WS_SCMS_DELETE_USERS/opDeleteUsers" style="document" /> 
   <wsdl:input name="opDeleteUsersRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opDeleteUsersResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SCMS_DELETE_USERS"> 
  <wsdl:port binding="eb:WS_SCMS_DELETE_USERSSoap" name="WS_SCMS_DELETE_USERSSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_SCMS_DELETE_USERS" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>