esb_tst5/repo/WS_SCMS_EXECUTE_REFPRD/wsdl/WS_SCMS_EXECUTE_REFPRD.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="requestREFPRD"> 
    <xsd:sequence> 
     <xsd:element name="flagsync" type="xsd:string" /> 
     <xsd:element name="clientid" type="xsd:string" /> 
     <xsd:element name="box" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="stbkind" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="stbkindhw" type="xsd:string" /> 
     <xsd:element name="operator" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="execdate" type="xsd:string"> 
      <xsd:annotation> 
       <xsd:documentation>
        formato YYYYMMDDHH24MISS
       </xsd:documentation> 
      </xsd:annotation> 
     </xsd:element> 
     <xsd:element minOccurs="0" name="priority" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="funcname" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="responseREFPRD"> 
    <xsd:sequence> 
     <xsd:element name="result" type="xsd:string" /> 
     <xsd:element name="descriptionerr" type="xsd:string" /> 
     <xsd:element name="transid" type="xsd:string" /> 
     <xsd:element name="ndserr" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opREFPRD"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="requestREFPRD" type="eb:requestREFPRD" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opREFPRDResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="responseREFPRD" type="eb:responseREFPRD" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opREFPRDResponse"> 
  <wsdl:part element="eb:opREFPRDResponse" name="parameters"></wsdl:part> 
 </wsdl:message> 
 <wsdl:message name="opREFPRDRequest"> 
  <wsdl:part element="eb:opREFPRD" name="parameters"></wsdl:part> 
 </wsdl:message> 
 <wsdl:portType name="WS_SCMS_EXECUTE_REFPRDSoap"> 
  <wsdl:operation name="opREFPRD"> 
   <wsdl:input message="eb:opREFPRDRequest" name="opREFPRDRequest"></wsdl:input> 
   <wsdl:output message="eb:opREFPRDResponse" name="opREFPRDResponse"></wsdl:output> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SCMS_EXECUTE_REFPRDSoap" type="eb:WS_SCMS_EXECUTE_REFPRDSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opREFPRD"> 
   <soap:operation soapAction="WS_SCMS_EXECUTE_REFPRD/opREFPRD" style="document" /> 
   <wsdl:input name="opREFPRDRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opREFPRDResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SCMS_EXECUTE_REFPRD"> 
  <wsdl:port binding="eb:WS_SCMS_EXECUTE_REFPRDSoap" name="WS_SCMS_EXECUTE_REFPRDSoap"> 
   <soap:address location="http://wssvil.sky.it:19100/wsexistbus/ws_scms/WS_SCMS_EXECUTE_REFPRD" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>