esb_tst5/repo/WS_SBL_TELEMETRIA_TI_STB/wsdl/WS_SBL_TELEMETRIA_TI_STB.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:include schemaLocation="xsdTelecom/SkyXSD_SBL_TELEMETRIA_TI_STB.xsd" /> 
   <xsd:complexType name="DocumentDataInput"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:JsonRequestType" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="DocumentDataOutput"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:JsonResponseType" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opTelemetriaSTB"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_INPUT" type="eb:DocumentDataInput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opTelemetriaSTBResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_OUTPUT" type="eb:DocumentDataOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opTelemetriaSTBResponse"> 
  <wsdl:part element="eb:opTelemetriaSTBResponse" name="parameters"></wsdl:part> 
 </wsdl:message> 
 <wsdl:message name="opTelemetriaSTBRequest"> 
  <wsdl:part element="eb:opTelemetriaSTB" name="parameters"></wsdl:part> 
 </wsdl:message> 
 <wsdl:portType name="WS_SBL_TELEMETRIA_TI_STBSoap"> 
  <wsdl:operation name="opTelemetriaSTB"> 
   <wsdl:input message="eb:opTelemetriaSTBRequest" name="opTelemetriaSTBRequest"></wsdl:input> 
   <wsdl:output message="eb:opTelemetriaSTBResponse" name="opTelemetriaSTBResponse"></wsdl:output> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SBL_TELEMETRIA_TI_STBSoap" type="eb:WS_SBL_TELEMETRIA_TI_STBSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opTelemetriaSTB"> 
   <soap:operation soapAction="WS_SBL_TELEMETRIA_TI_STB/opTelemetriaSTB" style="document" /> 
   <wsdl:input name="opTelemetriaSTBRequest"> 
    <soap:body parts="parameters" use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opTelemetriaSTBResponse"> 
    <soap:body parts="parameters" use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SBL_TELEMETRIA_TI_STB"> 
  <wsdl:port binding="eb:WS_SBL_TELEMETRIA_TI_STBSoap" name="WS_SBL_TELEMETRIA_TI_STBSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_SBL_TELEMETRIA_TI_STB" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>