esb_tst5/repo/WS_SCMS_EXECUTE_SWLSMC_SP/wsdl/WS_SCMS_EXECUTE_SWLSMC_SP.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="requestSWLSMC"> 
    <xsd:sequence> 
     <xsd:element name="flagsync" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="clientid" type="xsd:string" /> 
     <xsd:element name="box" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="operator" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="execdate" type="xsd:string" /> 
     <xsd:element name="idcaller" type="xsd:string" /> 
     <xsd:element name="typesrvreq" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="responseSWLSMC"> 
    <xsd:sequence> 
     <xsd:element name="result" type="xsd:string" /> 
     <xsd:element name="descriptionerr" type="xsd:string" /> 
     <xsd:element name="transid" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="ndserr" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opSWLSMC"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="requestSWLSMC" type="eb:requestSWLSMC" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opSWLSMCResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="responseSWLSMC" type="eb:responseSWLSMC" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opSWLSMCResponse"> 
  <wsdl:part element="eb:opSWLSMCResponse" name="parameters"></wsdl:part> 
 </wsdl:message> 
 <wsdl:message name="opSWLSMCRequest"> 
  <wsdl:part element="eb:opSWLSMC" name="parameters"></wsdl:part> 
 </wsdl:message> 
 <wsdl:portType name="WS_SCMS_EXECUTE_SWLSMC_SPSoap"> 
  <wsdl:operation name="opSWLSMC"> 
   <wsdl:input message="eb:opSWLSMCRequest" name="opSWLSMCRequest"></wsdl:input> 
   <wsdl:output message="eb:opSWLSMCResponse" name="opSWLSMCResponse"></wsdl:output> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SCMS_EXECUTE_SWLSMC_SPSoap" type="eb:WS_SCMS_EXECUTE_SWLSMC_SPSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opSWLSMC"> 
   <soap:operation soapAction="WS_SCMS_EXECUTE_SWLSMC_SP/opSWLSMC" style="document" /> 
   <wsdl:input name="opSWLSMCRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opSWLSMCResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SCMS_EXECUTE_SWLSMC_SP"> 
  <wsdl:port binding="eb:WS_SCMS_EXECUTE_SWLSMC_SPSoap" name="WS_SCMS_EXECUTE_SWLSMC_SPSoap"> 
   <soap:address location="http://wssvil.sky.it:19100/wsexistbus/ws_scms/WS_SCMS_EXECUTE_SWLSMC_SP" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>