esb_tst5/repo/WS_SCMS_EXECUTE_INSSTB/wsdl/WS_SCMS_EXECUTE_INSSTB.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="requestINSSTB"> 
    <xsd:sequence> 
     <xsd:element name="flagsync" type="xsd:string" /> 
     <xsd:element name="clientid" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="stbkind" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="stbkindhw" type="xsd:string" /> 
     <xsd:element name="operator" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="execdate" type="xsd:string"> 
      <xsd:annotation> 
       <xsd:documentation>
        formato YYYYMMDDHH24MISS
       </xsd:documentation> 
      </xsd:annotation> 
     </xsd:element> 
     <xsd:element minOccurs="0" name="priority" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="funcname" type="xsd:string" /> 
     <xsd:element name="decoderid" type="xsd:string" /> 
     <xsd:element name="chipid" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="responseINSSTB"> 
    <xsd:sequence> 
     <xsd:element name="result" type="xsd:string" /> 
     <xsd:element name="descriptionerr" type="xsd:string" /> 
     <xsd:element name="transid" type="xsd:string" /> 
     <xsd:element name="ndserr" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opINSSTB"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="requestINSSTB" type="eb:requestINSSTB" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opINSSTBResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="responseINSSTB" type="eb:responseINSSTB" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opINSSTBResponse"> 
  <wsdl:part element="eb:opINSSTBResponse" name="parameters"></wsdl:part> 
 </wsdl:message> 
 <wsdl:message name="opINSSTBRequest"> 
  <wsdl:part element="eb:opINSSTB" name="parameters"></wsdl:part> 
 </wsdl:message> 
 <wsdl:portType name="WS_SCMS_EXECUTE_INSSTBSoap"> 
  <wsdl:operation name="opINSSTB"> 
   <wsdl:input message="eb:opINSSTBRequest" name="opINSSTBRequest"></wsdl:input> 
   <wsdl:output message="eb:opINSSTBResponse" name="opINSSTBResponse"></wsdl:output> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SCMS_EXECUTE_INSSTBSoap" type="eb:WS_SCMS_EXECUTE_INSSTBSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opINSSTB"> 
   <soap:operation soapAction="WS_SCMS_EXECUTE_INSSTB/opINSSTB" style="document" /> 
   <wsdl:input name="opINSSTBRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opINSSTBResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SCMS_EXECUTE_INSSTB"> 
  <wsdl:port binding="eb:WS_SCMS_EXECUTE_INSSTBSoap" name="WS_SCMS_EXECUTE_INSSTBSoap"> 
   <soap:address location="http://wssvil.sky.it:19100/wsexistbus/ws_scms/WS_SCMS_EXECUTE_INSSTB" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>