esb_tst5/repo/WS_SCMS_EXECUTE_RDEVHH/wsdl/WS_SCMS_EXECUTE_RDEVHH.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="requestRDEVHH"> 
    <xsd:sequence> 
     <xsd:element name="flagsync" type="xsd:string" /> 
     <xsd:element name="clientid" type="xsd:string" /> 
     <xsd:element name="operator" type="xsd:string" /> 
     <xsd:element name="idcaller" type="xsd:string" /> 
     <xsd:element name="typesrvreq" type="xsd:string" /> 
     <xsd:element name="customerid" type="xsd:string" /> 
     <xsd:element name="deviceid" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="responseRDEVHH"> 
    <xsd:sequence> 
     <xsd:element name="result" type="xsd:string" /> 
     <xsd:element name="descriptionerr" type="xsd:string" /> 
     <xsd:element name="transid" type="xsd:string" /> 
     <xsd:element name="ndserr" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opRDEVHH"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="requestRDEVHH" type="eb:requestRDEVHH" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opRDEVHHResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="responseRDEVHH" type="eb:responseRDEVHH" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opRDEVHHResponse"> 
  <wsdl:part element="eb:opRDEVHHResponse" name="parameters"></wsdl:part> 
 </wsdl:message> 
 <wsdl:message name="opRDEVHHRequest"> 
  <wsdl:part element="eb:opRDEVHH" name="parameters"></wsdl:part> 
 </wsdl:message> 
 <wsdl:portType name="WS_SCMS_EXECUTE_RDEVHHSoap"> 
  <wsdl:operation name="opRDEVHH"> 
   <wsdl:input message="eb:opRDEVHHRequest" name="opRDEVHHRequest"></wsdl:input> 
   <wsdl:output message="eb:opRDEVHHResponse" name="opRDEVHHResponse"></wsdl:output> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SCMS_EXECUTE_RDEVHHSoap" type="eb:WS_SCMS_EXECUTE_RDEVHHSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opRDEVHH"> 
   <soap:operation soapAction="WS_SCMS_EXECUTE_RDEVHH/opRDEVHH" style="document" /> 
   <wsdl:input name="opRDEVHHRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opRDEVHHResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SCMS_EXECUTE_RDEVHH"> 
  <wsdl:port binding="eb:WS_SCMS_EXECUTE_RDEVHHSoap" name="WS_SCMS_EXECUTE_RDEVHHSoap"> 
   <soap:address location="http://wssvil.sky.it:19100/wsexistbus/ws_scms/WS_SCMS_EXECUTE_RDEVHH" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>