esb_tst5/repo/WS_LS_RICHIESTEACCERTAMENTI_SBL_TO_EAE/wsdl/WS_LS_RICHIESTEACCERTAMENTI_SBL_TO_EAE.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="FMLFieldType"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" name="valore"> 
      <xsd:complexType> 
       <xsd:simpleContent> 
        <xsd:extension base="xsd:string"> 
         <xsd:attribute name="occur" type="xsd:string" use="optional" /> 
        </xsd:extension> 
       </xsd:simpleContent> 
      </xsd:complexType> 
     </xsd:element> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexInput"> 
    <xsd:sequence> 
     <xsd:element name="LS_FLUSSO" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_ID_RICHIESTA" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_MAGAZZINO" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="100" minOccurs="0" name="LS_ORDINE_FML32" type="eb:FMLComplexOrdine" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexOrdine"> 
    <xsd:sequence> 
     <xsd:element name="LS_NUMERO_ORDINE" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_DATA" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_CODICE_DEALER" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_CANALE_VENDITA" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="100" name="LS_DETTAGLIO_ORDINE_FML32" type="eb:FMLComplexDettaglioOrdine" /> 
    </xsd:sequence> 
    <xsd:attribute name="occur" type="xsd:string" use="optional" /> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexDettaglioOrdine"> 
    <xsd:sequence> 
     <xsd:element name="LS_CODICE_PARTE" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_MATRICOLA" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_CAUSALE" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_DATA" type="eb:FMLFieldType" /> 
    </xsd:sequence> 
    <xsd:attribute name="occur" type="xsd:string" use="optional" /> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexOutput"> 
    <xsd:sequence> 
     <xsd:element name="SRVZ_RET_CODE" type="eb:FMLFieldType" /> 
     <xsd:element name="SRVZ_DESCRIZ_ESITO" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_TID" type="eb:FMLFieldType" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opRichiesteAccertamentiSblToEae"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="request_ws" type="eb:FMLComplexInput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opRichiesteAccertamentiSblToEaeResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="response_ws" type="eb:FMLComplexOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opRichiesteAccertamentiSblToEaeResponse"> 
  <wsdl:part element="eb:opRichiesteAccertamentiSblToEaeResponse" name="parameters"></wsdl:part> 
 </wsdl:message> 
 <wsdl:message name="opRichiesteAccertamentiSblToEaeRequest"> 
  <wsdl:part element="eb:opRichiesteAccertamentiSblToEae" name="parameters"></wsdl:part> 
 </wsdl:message> 
 <wsdl:portType name="WS_LS_RICHIESTEACCERTAMENTI_SBL_TO_EAESoap"> 
  <wsdl:operation name="opRichiesteAccertamentiSblToEae"> 
   <wsdl:input message="eb:opRichiesteAccertamentiSblToEaeRequest" name="opRichiesteAccertamentiSblToEaeRequest"></wsdl:input> 
  </wsdl:operation>
 </wsdl:portType>
</wsdl:definitions>