esb_tst5/repo/WS_SBL_MAGENTO_BURN_VOUCHER/wsdl/WS_SBL_MAGENTO_BURN_VOUCHER.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:include schemaLocation="xsdMagento/SkyXSD_SBL_MAGENTO_BURN_VOUCHER.xsd" /> 
   <xsd:complexType name="DocumentDataInput"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:DocumentDataIn" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="DocumentDataOutput"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:DocumentDataOut" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opSblMagentoBurnVoucher"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_INPUT" type="eb:DocumentDataInput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opSblMagentoBurnVoucherResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_OUTPUT" type="eb:DocumentDataOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opSblMagentoBurnVoucherResponse"> 
  <wsdl:part element="eb:opSblMagentoBurnVoucherResponse" name="parameters"></wsdl:part> 
 </wsdl:message> 
 <wsdl:message name="opSblMagentoBurnVoucherRequest"> 
  <wsdl:part element="eb:opSblMagentoBurnVoucher" name="parameters"></wsdl:part> 
 </wsdl:message> 
 <wsdl:portType name="WS_SBL_MAGENTO_BURN_VOUCHERSoap"> 
  <wsdl:operation name="opSblMagentoBurnVoucher"> 
   <wsdl:input message="eb:opSblMagentoBurnVoucherRequest" name="opSblMagentoBurnVoucherRequest"></wsdl:input> 
   <wsdl:output message="eb:opSblMagentoBurnVoucherResponse" name="opSblMagentoBurnVoucherResponse"></wsdl:output> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SBL_MAGENTO_BURN_VOUCHERSoap" type="eb:WS_SBL_MAGENTO_BURN_VOUCHERSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opSblMagentoBurnVoucher"> 
   <soap:operation soapAction="WS_SBL_MAGENTO_BURN_VOUCHER/opSblMagentoBurnVoucher" style="document" /> 
   <wsdl:input name="opSblMagentoBurnVoucherRequest"> 
    <soap:body parts="parameters" use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opSblMagentoBurnVoucherResponse"> 
    <soap:body parts="parameters" use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SBL_MAGENTO_BURN_VOUCHER"> 
  <wsdl:port binding="eb:WS_SBL_MAGENTO_BURN_VOUCHERSoap" name="WS_SBL_MAGENTO_BURN_VOUCHERSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_SBL_MAGENTO_BURN_VOUCHER" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>