esb_tst5/repo/WS_SBL_WEB_CHECK_NEWSLETTER/wsdl/WS_SBL_WEB_CHECK_NEWSLETTER.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:import namespace="http://ws.sky.it" schemaLocation="Web/CheckNewsletter1.xsd" /> 
   <xsd:complexType name="checkNewsletter" xmlns:web="http://ws.sky.it"> 
    <xsd:complexContent> 
     <xsd:extension base="web:checkNewsletter" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="checkNewsletterResponse" xmlns:web="http://ws.sky.it"> 
    <xsd:complexContent> 
     <xsd:extension base="web:checkNewsletterResponse" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opCheckNewsletter"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="request" type="eb:checkNewsletter" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opCheckNewsletterResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="response" type="eb:checkNewsletterResponse" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opCheckNewsletterRequest"> 
  <wsdl:part element="eb:opCheckNewsletter" name="parameters"></wsdl:part> 
 </wsdl:message> 
 <wsdl:message name="opCheckNewsletterResponse"> 
  <wsdl:part element="eb:opCheckNewsletterResponse" name="parameters"></wsdl:part> 
 </wsdl:message> 
 <wsdl:portType name="WS_SBL_WEB_CHECK_NEWSLETTERSoap"> 
  <wsdl:operation name="opCheckNewsletter"> 
   <wsdl:input message="eb:opCheckNewsletterRequest" name="opCheckNewsletterRequest"></wsdl:input> 
   <wsdl:output message="eb:opCheckNewsletterResponse" name="opCheckNewsletterResponse"></wsdl:output> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SBL_WEB_CHECK_NEWSLETTERSoap" type="eb:WS_SBL_WEB_CHECK_NEWSLETTERSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opCheckNewsletter"> 
   <soap:operation soapAction="WS_SBL_WEB_CHECK_NEWSLETTER/opCheckNewsletter" style="document" /> 
   <wsdl:input name="opCheckNewsletterRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opCheckNewsletterResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SBL_WEB_CHECK_NEWSLETTER"> 
  <wsdl:port binding="eb:WS_SBL_WEB_CHECK_NEWSLETTERSoap" name="WS_SBL_WEB_CHECK_NEWSLETTERSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_SBL_WEB_CHECK_NEWSLETTER" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>