esb_tst5/repo/WS_SBL_MAGENTO_CHECK_STATUS/wsdl/WS_SBL_MAGENTO_CHECK_STATUS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:include schemaLocation="xsdMagento/SkyXSD_SBL_MAGENTO_CHECK_STATUS.xsd" /> 
   <xsd:complexType name="DocumentDataInput"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:DocumentDataIn" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="DocumentDataOutput"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:DocumentDataOut" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opSblMagentoCheckStatus"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_INPUT" type="eb:DocumentDataInput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opSblMagentoCheckStatusResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_OUTPUT" type="eb:DocumentDataOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opSblMagentoCheckStatusResponse"> 
  <wsdl:part element="eb:opSblMagentoCheckStatusResponse" name="parameters"></wsdl:part> 
 </wsdl:message> 
 <wsdl:message name="opSblMagentoCheckStatusRequest"> 
  <wsdl:part element="eb:opSblMagentoCheckStatus" name="parameters"></wsdl:part> 
 </wsdl:message> 
 <wsdl:portType name="WS_SBL_MAGENTO_CHECK_STATUSSoap"> 
  <wsdl:operation name="opSblMagentoCheckStatus"> 
   <wsdl:input message="eb:opSblMagentoCheckStatusRequest" name="opSblMagentoCheckStatusRequest"></wsdl:input> 
   <wsdl:output message="eb:opSblMagentoCheckStatusResponse" name="opSblMagentoCheckStatusResponse"></wsdl:output> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SBL_MAGENTO_CHECK_STATUSSoap" type="eb:WS_SBL_MAGENTO_CHECK_STATUSSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opSblMagentoCheckStatus"> 
   <soap:operation soapAction="WS_SBL_MAGENTO_CHECK_STATUS/opSblMagentoCheckStatus" style="document" /> 
   <wsdl:input name="opSblMagentoCheckStatusRequest"> 
    <soap:body parts="parameters" use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opSblMagentoCheckStatusResponse"> 
    <soap:body parts="parameters" use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SBL_MAGENTO_CHECK_STATUS"> 
  <wsdl:port binding="eb:WS_SBL_MAGENTO_CHECK_STATUSSoap" name="WS_SBL_MAGENTO_CHECK_STATUSSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_SBL_MAGENTO_CHECK_STATUS" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>