esb_tst5/repo/WS_SCMS_EXECUTE_TRASPW_SP/wsdl/WS_SCMS_EXECUTE_TRASPW_SP.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="requestTRASPW"> 
    <xsd:sequence> 
     <xsd:element name="flagsync" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="format" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="clientid" type="xsd:string" /> 
     <xsd:element name="box" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="corp" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="operator" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="execdate" type="xsd:string" /> 
     <xsd:element name="idcaller" type="xsd:string" /> 
     <xsd:element name="skypass" type="xsd:string" /> 
     <xsd:element name="typesrvreq" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="trans_id" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="ConnId" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="TransId" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="responseTRASPW"> 
    <xsd:sequence> 
     <xsd:element name="result" type="xsd:string" /> 
     <xsd:element name="descriptionerr" type="xsd:string" /> 
     <xsd:element name="transid" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="ndserr" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="box" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="wallet" type="eb:t_wallet" /> 
     <xsd:element minOccurs="0" name="walletcreated" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="promos" type="eb:t_promos" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="t_promos"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="promo" type="eb:t_promo" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="t_wallet"> 
    <xsd:sequence> 
     <xsd:element minOccurs="0" name="smcs" type="eb:t_smcs" /> 
     <xsd:element minOccurs="0" name="credits" type="eb:t_credits" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="t_promo"> 
    <xsd:sequence> 
     <xsd:element name="catalogid" type="xsd:string" /> 
     <xsd:element name="kind" type="xsd:string" /> 
     <xsd:element name="details" type="xsd:string" /> 
     <xsd:element name="id" type="xsd:string" /> 
     <xsd:element name="prclass" type="xsd:string" /> 
     <xsd:element name="subclass" type="xsd:string" /> 
     <xsd:element name="description" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="t_smcs"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" name="smc" type="eb:t_smc" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="t_credits"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" name="credit" type="eb:t_credit" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="t_credit"> 
    <xsd:sequence> 
     <xsd:element name="priority" type="xsd:string" /> 
     <xsd:element name="creationdate" type="xsd:string" /> 
     <xsd:element name="expirationdate" type="xsd:string" /> 
     <xsd:element name="amount" type="xsd:string" /> 
     <xsd:element name="typename" type="xsd:string" /> 
     <xsd:element name="description" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="t_smc"> 
    <xsd:sequence> 
     <xsd:element name="box" type="xsd:string" /> 
     <xsd:element name="lastpdate" type="xsd:string" /> 
     <xsd:element name="lastpref" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opTRASPW"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="requestTRASPW" type="eb:requestTRASPW" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opTRASPWResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="responseTRASPW" type="eb:responseTRASPW" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opTRASPWRequest"> 
  <wsdl:part element="eb:opTRASPW" name="parameters"></wsdl:part> 
 </wsdl:message> 
 <wsdl:message name="opTRASPWResponse"> 
  <wsdl:part element="eb:opTRASPWResponse" name="parameters"></wsdl:part> 
 </wsdl:message> 
 <wsdl:portType name="WS_SCMS_EXECUTE_TRASPW_SPSoap"> 
  <wsdl:operation name="opTRASPW"> 
   <wsdl:input message="eb:opTRASPWRequest" name="opTRASPWRequest"></wsdl:input> 
   <wsdl:output message="eb:opTRASPWResponse" name="opTRASPWResponse"></wsdl:output> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SCMS_EXECUTE_TRASPW_SPSoap" type="eb:WS_SCMS_EXECUTE_TRASPW_SPSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opTRASPW"> 
   <soap:operation soapAction="WS_SCMS_EXECUTE_TRASPW_SP/opTRASPW" style="document" /> 
   <wsdl:input name="opTRASPWRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opTRASPWResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SCMS_EXECUTE_TRASPW_SP"> 
  <wsdl:port binding="eb:WS_SCMS_EXECUTE_TRASPW_SPSoap" name="WS_SCMS_EXECUTE_TRASPW_SPSoap"> 
   <soap:address location="http://wssvil.sky.it:19100/wsexistbus/ws_scms/WS_SCMS_EXECUTE_TRASPW_SP" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>