esb_tst5/repo/WS_PEGASUS_SEND_COMMUNICATION/wsdl/WS_PEGASUS_SEND_COMMUNICATION.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="DocumentData"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="param" type="eb:param" /> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="record" type="eb:record" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="param"> 
    <xsd:attribute name="name" type="xsd:string" use="required" /> 
    <xsd:attribute name="value" type="xsd:string" use="required" /> 
   </xsd:complexType> 
   <xsd:complexType name="record"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="param" type="eb:param" /> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="record" type="eb:record" /> 
    </xsd:sequence> 
    <xsd:attribute name="name" type="xsd:string" use="required" /> 
    <xsd:attribute name="value" type="xsd:string" use="required" /> 
   </xsd:complexType> 
   <xsd:element name="opSendCommunication"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_INPUT" type="eb:DocumentData" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="TIDPGS" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opSendCommunicationResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="Tid" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_OUTPUT" type="eb:DocumentData" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="TIDPGS" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opSendCommunicationRequest"> 
  <wsdl:part element="eb:opSendCommunication" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opSendCommunicationResponse"> 
  <wsdl:part element="eb:opSendCommunicationResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_PEGASUS_SEND_COMMUNICATIONSoap"> 
  <wsdl:operation name="opSendCommunication"> 
   <wsdl:input message="eb:opSendCommunicationRequest" name="opSendCommunicationRequest" /> 
   <wsdl:output message="eb:opSendCommunicationResponse" name="opSendCommunicationResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_PEGASUS_SEND_COMMUNICATIONSoap" type="eb:WS_PEGASUS_SEND_COMMUNICATIONSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opSendCommunication"> 
   <soap:operation soapAction="WS_PEGASUS_SEND_COMMUNICATION/opSendCommunication" style="document" /> 
   <wsdl:input name="opSendCommunicationRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opSendCommunicationResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_PEGASUS_SEND_COMMUNICATION"> 
  <wsdl:port binding="eb:WS_PEGASUS_SEND_COMMUNICATIONSoap" name="WS_PEGASUS_SEND_COMMUNICATIONSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_PEGASUS_SEND_COMMUNICATION" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>