esb_tst5/repo/WS_SBL_WEB_CHECK_REGISTRATION/wsdl/WS_SBL_WEB_CHECK_REGISTRATION.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:import namespace="http://registration.check.sky.it" schemaLocation="Web/CheckRegistration1.xsd" /> 
   <xsd:complexType name="checkRegistration" xmlns:web="http://registration.check.sky.it"> 
    <xsd:complexContent> 
     <xsd:extension base="web:checkRegistration" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="checkRegistrationResponse" xmlns:web="http://registration.check.sky.it"> 
    <xsd:complexContent> 
     <xsd:extension base="web:checkRegistrationResponse" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opCheckRegistration"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="request" type="eb:checkRegistration" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opCheckRegistrationResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="response" type="eb:checkRegistrationResponse" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opCheckRegistrationRequest"> 
  <wsdl:part element="eb:opCheckRegistration" name="parameters"></wsdl:part> 
 </wsdl:message> 
 <wsdl:message name="opCheckRegistrationResponse"> 
  <wsdl:part element="eb:opCheckRegistrationResponse" name="parameters"></wsdl:part> 
 </wsdl:message> 
 <wsdl:portType name="WS_SBL_WEB_CHECK_REGISTRATIONSoap"> 
  <wsdl:operation name="opCheckRegistration"> 
   <wsdl:input message="eb:opCheckRegistrationRequest" name="opCheckRegistrationRequest"></wsdl:input> 
   <wsdl:output message="eb:opCheckRegistrationResponse" name="opCheckRegistrationResponse"></wsdl:output> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SBL_WEB_CHECK_REGISTRATIONSoap" type="eb:WS_SBL_WEB_CHECK_REGISTRATIONSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opCheckRegistration"> 
   <soap:operation soapAction="WS_SBL_WEB_CHECK_REGISTRATION/opCheckRegistration" style="document" /> 
   <wsdl:input name="opCheckRegistrationRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opCheckRegistrationResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SBL_WEB_CHECK_REGISTRATION"> 
  <wsdl:port binding="eb:WS_SBL_WEB_CHECK_REGISTRATIONSoap" name="WS_SBL_WEB_CHECK_REGISTRATIONSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_SBL_WEB_CHECK_REGISTRATION" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>