esb_tst5/repo/WS_SCMS_EXECUTE_QRYAWP/wsdl/WS_SCMS_EXECUTE_QRYAWP.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="requestQRYAWP"> 
    <xsd:sequence> 
     <xsd:element name="flagsync" type="xsd:string" /> 
     <xsd:element name="clientid" type="xsd:string" /> 
     <xsd:element name="operator" type="xsd:string" /> 
     <xsd:element name="idcaller" type="xsd:string" /> 
     <xsd:element name="typesrvreq" type="xsd:string" /> 
     <xsd:element name="customerid" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="responseQRYAWP"> 
    <xsd:sequence> 
     <xsd:element name="result" type="xsd:string" /> 
     <xsd:element name="descriptionerr" type="xsd:string" /> 
     <xsd:element name="transid" type="xsd:string" /> 
     <xsd:element name="ndserr" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="products" type="eb:t_products" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="t_products"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="product" type="eb:t_product" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="t_product"> 
    <xsd:sequence> 
     <xsd:element name="code" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opQRYAWP"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="requestQRYAWP" type="eb:requestQRYAWP" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opQRYAWPResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="responseQRYAWP" type="eb:responseQRYAWP" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opQRYAWPResponse"> 
  <wsdl:part element="eb:opQRYAWPResponse" name="parameters"></wsdl:part> 
 </wsdl:message> 
 <wsdl:message name="opQRYAWPRequest"> 
  <wsdl:part element="eb:opQRYAWP" name="parameters"></wsdl:part> 
 </wsdl:message> 
 <wsdl:portType name="WS_SCMS_EXECUTE_QRYAWPSoap"> 
  <wsdl:operation name="opQRYAWP"> 
   <wsdl:input message="eb:opQRYAWPRequest" name="opQRYAWPRequest"></wsdl:input> 
   <wsdl:output message="eb:opQRYAWPResponse" name="opQRYAWPResponse"></wsdl:output> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SCMS_EXECUTE_QRYAWPSoap" type="eb:WS_SCMS_EXECUTE_QRYAWPSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opQRYAWP"> 
   <soap:operation soapAction="WS_SCMS_EXECUTE_QRYAWP/opQRYAWP" style="document" /> 
   <wsdl:input name="opQRYAWPRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opQRYAWPResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SCMS_EXECUTE_QRYAWP"> 
  <wsdl:port binding="eb:WS_SCMS_EXECUTE_QRYAWPSoap" name="WS_SCMS_EXECUTE_QRYAWPSoap"> 
   <soap:address location="http://wssvil.sky.it:19100/wsexistbus/ws_scms/WS_SCMS_EXECUTE_QRYAWP" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>