esb_tst5/repo/WS_SBL_PAYPAL_CONFIRM_PAYMENT/wsdl/WS_SBL_PAYPAL_CONFIRM_PAYMENT.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:ebay:api:PayPalAPI" xmlns:pp="urn:ebay:api:PayPalAPI" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="urn:ebay:api:PayPalAPI" xmlns:pp="urn:ebay:api:PayPalAPI"> 
   <xsd:import namespace="urn:ebay:apis:eBLBaseComponents" schemaLocation="xsdPayPal/SkyXSD_PayPal.xsd" /> 
   <xsd:complexType name="DoExpressCheckoutPaymentReq" xmlns:ebl="urn:ebay:apis:eBLBaseComponents"> 
    <xsd:complexContent> 
     <xsd:extension base="ebl:DoExpressCheckoutPaymentReqType" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="DoExpressCheckoutPaymentResponse" xmlns:ebl="urn:ebay:apis:eBLBaseComponents"> 
    <xsd:complexContent> 
     <xsd:extension base="ebl:DoExpressCheckoutPaymentResponseType" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opConfirmPayment"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="DoExpressCheckoutPaymentReq" type="pp:DoExpressCheckoutPaymentReq" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opConfirmPaymentResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="DoExpressCheckoutPaymentResponse" type="pp:DoExpressCheckoutPaymentResponse" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opConfirmPaymentRequest"> 
  <wsdl:part element="pp:opConfirmPayment" name="parameters"></wsdl:part> 
 </wsdl:message> 
 <wsdl:message name="opConfirmPaymentResponse"> 
  <wsdl:part element="pp:opConfirmPaymentResponse" name="parameters"></wsdl:part> 
 </wsdl:message> 
 <wsdl:portType name="WS_SBL_PAYPAL_CONFIRM_PAYMENTSoap"> 
  <wsdl:operation name="opConfirmPayment"> 
   <wsdl:input message="pp:opConfirmPaymentRequest" name="opConfirmPaymentRequest"></wsdl:input> 
   <wsdl:output message="pp:opConfirmPaymentResponse" name="opConfirmPaymentResponse"></wsdl:output> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SBL_PAYPAL_CONFIRM_PAYMENTSoap" type="pp:WS_SBL_PAYPAL_CONFIRM_PAYMENTSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opConfirmPayment"> 
   <soap:operation soapAction="WS_SBL_PAYPAL_CONFIRM_PAYMENT/opConfirmPayment" style="document" /> 
   <wsdl:input name="opConfirmPaymentRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opConfirmPaymentResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SBL_PAYPAL_CONFIRM_PAYMENT"> 
  <wsdl:port binding="pp:WS_SBL_PAYPAL_CONFIRM_PAYMENTSoap" name="WS_SBL_PAYPAL_CONFIRM_PAYMENTSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_SBL_PAYPAL_CONFIRM_PAYMENT" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>