esb_tst5/repo/WS_SCMS_EXECUTE_SAWVIP/wsdl/WS_SCMS_EXECUTE_SAWVIP.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="requestSAWVIP"> 
    <xsd:sequence> 
     <xsd:element name="flagsync" type="xsd:string" /> 
     <xsd:element name="clientid" type="xsd:string" /> 
     <xsd:element name="idcaller" type="xsd:string" /> 
     <xsd:element name="operator" type="xsd:string" /> 
     <xsd:element name="typesrvreq" type="xsd:string" /> 
     <xsd:element name="customerid" type="xsd:string" /> 
     <xsd:element name="username" type="xsd:string" /> 
     <xsd:element name="password" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="vipness" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="istrial" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="trialexpiredate" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="responseSAWVIP"> 
    <xsd:sequence> 
     <xsd:element name="result" type="xsd:string" /> 
     <xsd:element name="descriptionerr" type="xsd:string" /> 
     <xsd:element name="transid" type="xsd:string" /> 
     <xsd:element name="ndserr" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opSAWVIP"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="requestSAWVIP" type="eb:requestSAWVIP" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opSAWVIPResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="responseSAWVIP" type="eb:responseSAWVIP" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opSAWVIPResponse"> 
  <wsdl:part element="eb:opSAWVIPResponse" name="parameters"></wsdl:part> 
 </wsdl:message> 
 <wsdl:message name="opSAWVIPRequest"> 
  <wsdl:part element="eb:opSAWVIP" name="parameters"></wsdl:part> 
 </wsdl:message> 
 <wsdl:portType name="WS_SCMS_EXECUTE_SAWVIPSoap"> 
  <wsdl:operation name="opSAWVIP"> 
   <wsdl:input message="eb:opSAWVIPRequest" name="opSAWVIPRequest"></wsdl:input> 
   <wsdl:output message="eb:opSAWVIPResponse" name="opSAWVIPResponse"></wsdl:output> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SCMS_EXECUTE_SAWVIPSoap" type="eb:WS_SCMS_EXECUTE_SAWVIPSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opSAWVIP"> 
   <soap:operation soapAction="WS_SCMS_EXECUTE_SAWVIP/opSAWVIP" style="document" /> 
   <wsdl:input name="opSAWVIPRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opSAWVIPResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SCMS_EXECUTE_SAWVIP"> 
  <wsdl:port binding="eb:WS_SCMS_EXECUTE_SAWVIPSoap" name="WS_SCMS_EXECUTE_SAWVIPSoap"> 
   <soap:address location="http://wssvil.sky.it:19100/wsexistbus/ws_scms/WS_SCMS_EXECUTE_SAWVIP" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>