esb_tst5/repo/WS_SCMS_CREA_UTENTE/wsdl/WS_SCMS_CREA_UTENTE.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="opCreaUtente"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_CA_OPERATORE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_CA_CLIENT_API" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_CA_PRIORITY" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_CA_MSG" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opCreaUtenteResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_SRVZ_RET_CODE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_SRVZ_DESCRIZ_ESITO" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opCreaUtenteResponse"> 
  <wsdl:part element="eb:opCreaUtenteResponse" name="parameters"></wsdl:part> 
 </wsdl:message> 
 <wsdl:message name="opCreaUtenteRequest"> 
  <wsdl:part element="eb:opCreaUtente" name="parameters"></wsdl:part> 
 </wsdl:message> 
 <wsdl:portType name="WS_SCMS_CREA_UTENTESoap"> 
  <wsdl:operation name="opCreaUtente"> 
   <wsdl:input message="eb:opCreaUtenteRequest" name="opCreaUtenteRequest"></wsdl:input> 
   <wsdl:output message="eb:opCreaUtenteResponse" name="opCreaUtenteResponse"></wsdl:output> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SCMS_CREA_UTENTESoap" type="eb:WS_SCMS_CREA_UTENTESoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opCreaUtente"> 
   <soap:operation soapAction="WS_SCMS_CREA_UTENTE/opCreaUtente" style="document" /> 
   <wsdl:input name="opCreaUtenteRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opCreaUtenteResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SCMS_CREA_UTENTE"> 
  <wsdl:port binding="eb:WS_SCMS_CREA_UTENTESoap" name="WS_SCMS_CREA_UTENTESoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_SCMS_CREA_UTENTE" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>