osb_tst5/repo/BlueBirdProject/SALESFORCE/SurveyHandler/PS_REST_SF_SURVEY_HANDLER/wsdl/BlueBirdProject_SALESFORCE_SurveyHandler_proxy_PS_REST_SF_SURVEY_HANDLER.wsdl

<wsdl:definitions name="PS_REST_SF_SURVEY_HANDLER" targetNamespace="http://xmlns.oracle.com/OSBSvil/BlueBirdProject/PS_REST_SF_SURVEY_HANDLER" xmlns:tns="http://xmlns.oracle.com/OSBSvil/BlueBirdProject/PS_REST_SF_SURVEY_HANDLER" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:inp2="http://www.skytv.it/mdw/data" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="PS_REST_SF_SURVEY_HANDLER">
        <plnk:role name="PS_REST_SF_SURVEY_HANDLERProvider" portType="tns:PS_REST_SF_SURVEY_HANDLER_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/BlueBirdProject/SALESFORCE/SurveyHandler/xsd/XSD_SF_SURVEY_HANDLER.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="RetriveSurveryURL_inputMessage">
        <wsdl:part name="request" element="inp1:requestRetrieveSurveyURL"/>
    </wsdl:message>
    <wsdl:message name="RetriveSurveryURL_outputMessage">
        <wsdl:part name="reply" element="inp1:responseRetrieveSurveyURL"/>
    </wsdl:message>
    <wsdl:message name="RetriveSurveryURL_fault_500Message">
        <wsdl:part name="fault_fault_500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="RetriveSurveryURL_fault_404Message">
        <wsdl:part name="fault_fault_404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="RetriveSurveryURL_fault_400Message">
        <wsdl:part name="fault_fault_400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_SF_SURVEY_HANDLER_ptt">
        <wsdl:operation name="RetriveSurveryURL">
            <wsdl:input message="tns:RetriveSurveryURL_inputMessage"/>
            <wsdl:output message="tns:RetriveSurveryURL_outputMessage"/>
            <wsdl:fault name="fault_500" message="tns:RetriveSurveryURL_fault_500Message"/>
            <wsdl:fault name="fault_404" message="tns:RetriveSurveryURL_fault_404Message"/>
            <wsdl:fault name="fault_400" message="tns:RetriveSurveryURL_fault_400Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_SF_SURVEY_HANDLER_ptt-binding" type="tns:PS_REST_SF_SURVEY_HANDLER_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="RetriveSurveryURL">
            <soap:operation soapAction="RetriveSurveryURL"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>