esb_tst5/repo/WS_SCMS_EXECUTE_SWAPWL_SP/wsdl/WS_SCMS_EXECUTE_SWAPWL_SP.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="requestSWAPWL"> 
    <xsd:sequence> 
     <xsd:element name="flagsync" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="clientid" type="xsd:string" /> 
     <xsd:element name="box" type="xsd:string" /> 
     <xsd:element name="newsmartcard" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="operator" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="execdate" type="xsd:string" /> 
     <xsd:element name="idcaller" type="xsd:string" /> 
     <xsd:element name="typesrvreq" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="responseSWAPWL"> 
    <xsd:sequence> 
     <xsd:element name="result" type="xsd:string" /> 
     <xsd:element name="descriptionerr" type="xsd:string" /> 
     <xsd:element name="transid" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="ndserr" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opSWAPWL"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="requestSWAPWL" type="eb:requestSWAPWL" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opSWAPWLResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="responseSWAPWL" type="eb:responseSWAPWL" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opSWAPWLResponse"> 
  <wsdl:part element="eb:opSWAPWLResponse" name="parameters"></wsdl:part> 
 </wsdl:message> 
 <wsdl:message name="opSWAPWLRequest"> 
  <wsdl:part element="eb:opSWAPWL" name="parameters"></wsdl:part> 
 </wsdl:message> 
 <wsdl:portType name="WS_SCMS_EXECUTE_SWAPWL_SPSoap"> 
  <wsdl:operation name="opSWAPWL"> 
   <wsdl:input message="eb:opSWAPWLRequest" name="opSWAPWLRequest"></wsdl:input> 
   <wsdl:output message="eb:opSWAPWLResponse" name="opSWAPWLResponse"></wsdl:output> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SCMS_EXECUTE_SWAPWL_SPSoap" type="eb:WS_SCMS_EXECUTE_SWAPWL_SPSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opSWAPWL"> 
   <soap:operation soapAction="WS_SCMS_EXECUTE_SWAPWL_SP/opSWAPWL" style="document" /> 
   <wsdl:input name="opSWAPWLRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opSWAPWLResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SCMS_EXECUTE_SWAPWL_SP"> 
  <wsdl:port binding="eb:WS_SCMS_EXECUTE_SWAPWL_SPSoap" name="WS_SCMS_EXECUTE_SWAPWL_SPSoap"> 
   <soap:address location="http://wssvil.sky.it:19100/wsexistbus/ws_scms/WS_SCMS_EXECUTE_SWAPWL_SP" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>