esb_tst5/repo/WS_IVR_PPV_ADULT_H24/wsdl/WS_IVR_PPV_ADULT_H24.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="DocumentData"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="param" type="eb:param" /> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="record" type="eb:record" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="param"> 
    <xsd:attribute name="name" type="xsd:string" use="required" /> 
    <xsd:attribute name="value" type="xsd:string" use="required" /> 
   </xsd:complexType> 
   <xsd:complexType name="record"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="param" type="eb:param" /> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="record" type="eb:record" /> 
    </xsd:sequence> 
    <xsd:attribute name="name" type="xsd:string" use="required" /> 
    <xsd:attribute name="value" type="xsd:string" use="required" /> 
   </xsd:complexType> 
   <xsd:element name="opAttivaPpvAdultH24"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_INPUT" type="eb:DocumentData" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opAttivaPpvAdultH24Response"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_OUTPUT" type="eb:DocumentData" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opDisattivaPpvAdultH24"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_INPUT" type="eb:DocumentData" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opDisattivaPpvAdultH24Response"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_OUTPUT" type="eb:DocumentData" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opAttivaPpvAdultH24Response"> 
  <wsdl:part element="eb:opAttivaPpvAdultH24Response" name="parameters"></wsdl:part> 
 </wsdl:message> 
 <wsdl:message name="opDisattivaPpvAdultH24Response"> 
  <wsdl:part element="eb:opDisattivaPpvAdultH24Response" name="parameters"></wsdl:part> 
 </wsdl:message> 
 <wsdl:message name="opDisattivaPpvAdultH24Request"> 
  <wsdl:part element="eb:opDisattivaPpvAdultH24" name="parameters"></wsdl:part> 
 </wsdl:message> 
 <wsdl:message name="opAttivaPpvAdultH24Request"> 
  <wsdl:part element="eb:opAttivaPpvAdultH24" name="parameters"></wsdl:part> 
 </wsdl:message> 
 <wsdl:portType name="WS_IVR_PPV_ADULT_H24Soap"> 
  <wsdl:operation name="opAttivaPpvAdultH24"> 
   <wsdl:input message="eb:opAttivaPpvAdultH24Request" name="opAttivaPpvAdultH24Request"></wsdl:input> 
   <wsdl:output message="eb:opAttivaPpvAdultH24Response" name="opAttivaPpvAdultH24Response"></wsdl:output> 
  </wsdl:operation> 
  <wsdl:operation name="opDisattivaPpvAdultH24"> 
   <wsdl:input message="eb:opDisattivaPpvAdultH24Request" name="opDisattivaPpvAdultH24Request"></wsdl:input> 
   <wsdl:output message="eb:opDisattivaPpvAdultH24Response" name="opDisattivaPpvAdultH24Response"></wsdl:output> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_IVR_PPV_ADULT_H24Soap" type="eb:WS_IVR_PPV_ADULT_H24Soap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opAttivaPpvAdultH24"> 
   <soap:operation soapAction="WS_IVR_PPV_ADULT_H24/opAttivaPpvAdultH24" style="document" /> 
   <wsdl:input name="opAttivaPpvAdultH24Request"> 
   </wsdl:input>
  </wsdl:operation>
 </wsdl:binding>
</wsdl:definitions>