esb_tst5/repo/WS_SBL_KBP_LETTERA_PO/wsdl/WS_SBL_KBP_LETTERA_PO.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="FMLComplexInput"> 
    <xsd:sequence> 
     <xsd:element name="CRM_BILLING_ACCOUNT" type="xsd:string" /> 
     <xsd:element name="CRM_TIPO_LETTERA" type="xsd:string" /> 
     <xsd:element name="CRM_TIPO_INPUT" type="xsd:string" /> 
     <xsd:element name="CRM_UTENTE" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="CRM_ABI" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="CRM_CAB" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="CRM_NUM_CONTO" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="CRM_CAUSALE_PO" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexOutput"> 
    <xsd:sequence> 
     <xsd:element name="SRVZ_RET_CODE" type="xsd:string" /> 
     <xsd:element name="SRVZ_DESCRIZ_ESITO" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opLetteraPO"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="request_ws" type="eb:FMLComplexInput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opLetteraPOResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="response_ws" type="eb:FMLComplexOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opLetteraPOResponse"> 
  <wsdl:part element="eb:opLetteraPOResponse" name="parameters"></wsdl:part> 
 </wsdl:message> 
 <wsdl:message name="opLetteraPORequest"> 
  <wsdl:part element="eb:opLetteraPO" name="parameters"></wsdl:part> 
 </wsdl:message> 
 <wsdl:portType name="WS_SBL_KBP_LETTERA_POSoap"> 
  <wsdl:operation name="opLetteraPO"> 
   <wsdl:input message="eb:opLetteraPORequest" name="opLetteraPORequest"></wsdl:input> 
   <wsdl:output message="eb:opLetteraPOResponse" name="opLetteraPOResponse"></wsdl:output> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SBL_KBP_LETTERA_POSoap" type="eb:WS_SBL_KBP_LETTERA_POSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opLetteraPO"> 
   <soap:operation soapAction="WS_SBL_KBP_LETTERA_PO/opLetteraPO" style="document" /> 
   <wsdl:input name="opLetteraPORequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opLetteraPOResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SBL_KBP_LETTERA_PO"> 
  <wsdl:port binding="eb:WS_SBL_KBP_LETTERA_POSoap" name="WS_SBL_KBP_LETTERA_POSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_SBL_KBP_LETTERA_PO" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>