osb_tst5/repo/BlueBirdProject/OSS/appointmentManagement/testMutualAgendaMgtmt/TEMP_MUTUAL_AGENDA/wsdl/BlueBirdProject_OSS_appointmentManagement_testMutualAgendaMgtmt_PS_TEMP_MUTUAL_AGENDA.wsdl

<wsdl:definitions name="BS_REST_AGENDA_MGMT_TOOL_APPOINTMENTS" targetNamespace="http://xmlns.oracle.com/OSBSvil/BlueBirdProject/BS_REST_AGENDA_MGMT_TOOL_APPOINTMENTS" xmlns:tns="http://xmlns.oracle.com/OSBSvil/BlueBirdProject/BS_REST_AGENDA_MGMT_TOOL_APPOINTMENTS" xmlns:inp1="http://www.skytv.it/mdw/internal" xmlns:inp2="http://www.skytv.it/mdw/data" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="BS_REST_AGENDA_MGMT_TOOL_APPOINTMENTS">
        <plnk:role name="BS_REST_AGENDA_MGMT_TOOL_APPOINTMENTSProvider" portType="tns:BS_REST_AGENDA_MGMT_TOOL_APPOINTMENTS_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/internal" schemaLocation="../../MDW_CDM/ApplicationObjects/BLUEBIRD/AGENDA_MGTM_TOOL/slotPrioritization/xsd/XSD_AGENDA_MGMT_TOOL_APPOINTMENTS.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="SlotPrioritization_inputMessage">
        <wsdl:part name="request" element="inp1:requestSlotPrioritization"/>
    </wsdl:message>
    <wsdl:message name="SlotPrioritization_outputMessage">
        <wsdl:part name="reply" element="inp1:responseSlotPrioritization"/>
    </wsdl:message>
    <wsdl:portType name="BS_REST_AGENDA_MGMT_TOOL_APPOINTMENTS_ptt">
        <wsdl:operation name="SlotPrioritization">
            <wsdl:input message="tns:SlotPrioritization_inputMessage"/>
            <wsdl:output message="tns:SlotPrioritization_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="SlotReservation">
            <wsdl:input message="tns:SlotReservation_inputMessage"/>
            <wsdl:output message="tns:SlotReservation_outputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BS_REST_AGENDA_MGMT_TOOL_APPOINTMENTS_ptt-binding" type="tns:BS_REST_AGENDA_MGMT_TOOL_APPOINTMENTS_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="SlotPrioritization">
            <soap:operation soapAction="SlotPrioritization"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SlotReservation">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="SlotReservation_inputMessage">
        <wsdl:part name="part_requestSlotReservation" element="inp1:requestSlotReservation"/>
    </wsdl:message>
    <wsdl:message name="SlotReservation_outputMessage">
        <wsdl:part name="part_responseSlotReservation" element="inp1:responseSlotReservation"/>
    </wsdl:message>
</wsdl:definitions>